h1 {
    color:white;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height:auto;
    background-color: linear-gradient(to right, #007D69 0%, #007D69 30%, white 30%, white 100%  );
}

.color-block{
    width: 150px;
    height: 300px;
    background-color: lightseagreen;

}

input{
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #0c0505;
    width: 250px;
    background-color: white;
}

button{
    background-color: #003C3C;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #003C3C;
    width: 250px;

label{
    text-align: left;
}