h1 {
    color:green;
    text-align: middle;
    font-size: 20px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.color-block{
    width: 150px;
    height: 300px;
    background-color: lightseagreen;

}

label{
    text-align: left;
}