h1 {
    color:white;
    text-align: left;
    font-size: 45px;
    font-weight: bold;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


html, body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url('Background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
select, input{
    background-color: white;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #003C3C;
    width: 250px;
}

select:hover, input:hover{
    background-color: #d2d3d3;
}

button{
    background-color: #003C3C;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #003C3C;
    width: 250px;
    color: white;
    font-size: 25px;
}

button:hover{
    background-color: #011c21;
    border: 2px solid #011c21;
}

.delete-button{
    background-color: rgb(231, 59, 59);
    border-radius: 15px;
    padding: 10px;
    border: 2px solid rgb(231, 59, 59);
    width: 250px;
    color: white;
    font-size: 25px;
}

.delete-button:hover{
    background-color: rgb(141, 14, 14) ;
    border: 2px solid rgb(141, 14, 14);
}

.log-out {
    background-color: #007D69;
    border: 2px solid #007D69;
    width: 100px;
    height: 80%;
    color: white;
    font-size: 15px;
    padding-inline: 10px;
}

.log-out:hover{
    background-color:#0d5b4e ;
    border-color: #0d5b4e;
}

.contacts {
    color: white;
}


label{
    text-align: left;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #007D69;
    /* position: fixed; */
    height: auto;
    /* overflow: auto; */
    color: white;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar>a:hover:not(.active) {
  background-color: #555;
  color: white;
}


/* @media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
} */

/* @media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
} */

/*TOP BAR*/

#top-bar{
	background-color: #003C3C;
    height: 70px;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo {
    height: 100%;
}


/*TASK/MAIN PAGE*/

#main-task-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

}

#task-information-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-block: 20px;
    margin-inline: 20px;
    flex: 1;
}

#task-information-container h1{
    font-size: 20px;
    color: white;
}

#task-information-container h2{
    font-size: 15px;
    color: white;
}

#task-information-container h3{
    font-size: 15px;
    color: #007D69;
}

#task-information-container .task-box{
    padding: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    background-color: #007D69;
    width: 30%;

    border-radius: 10px;
    height: auto;
    overflow: scroll;
}

#task-information-container .settings-box{
    padding: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    background-color: #007D69;
    width: 53%;

    border-radius: 10px;
    height: auto;
}

#task-information-container .profile-box{
    padding: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    background-color: #007D69;
    width: 100%;

    border-radius: 10px;
    height: auto;
}

#task-information-container .challenges-box{
    padding: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    background-color: #007D69;
    width: 100%;

    border-radius: 10px;
    height: auto;
    overflow: scroll;
}

#task-information-container .groups-box{
    padding: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    background-color: #007D69;
    width: 50%;

    border-radius: 10px;
    height: auto;
    overflow: scroll;
}

#task-information-container .groups2-box{
    padding: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    background-color: #007D69;
    width: 50%;

    border-radius: 10px;
    height: 50%;
}

.container {
    display: flex;
    gap: 50px;
}

#container .circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    text-align: center;
    background-color: #007D69;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

table{
    border: 5px solid white;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    height: auto;
}

th, td{
    padding: 8px;
    text-align: left;
    border-bottom: 3px solid white;
    color: #007D69;
}

tr:hover{background-color: #d2d3d3;}

.hidden-row{
    display: none;
}

.new-checkbox input[type="checkbox"]{
    display: none;
}

.checkbox{
    width: 20px;
}

.new-checkbox .checkmark{
    position: relative;
    display: inline;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 2px solid #003C3C;
    border-radius: 4px;
    margin-right: 1px;
    cursor: pointer;
}

.new-checkbox:hover .checkmark{
    background-color: #d2d3d3;
}

.new-checkbox input:checked + .checkmark::after{
    background-color: #007D69;
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid #007D69;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.column{
    float: left;
    width: 95%;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    color: #007D69;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 4px;
}

.column:hover{
    background-color: #d2d3d3;
}

.containerTab{
    padding: 10px;
    background-color: white;
    color: #007D69;
    width: 95%;
    margin-bottom: 10px;
    border-radius: 4px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.closebtn{
    float: right;
    color: #007D69;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover{
    background-color: #d2d3d3;
}

.complete-btn{
    background-color: #007D69;
    border: 2px solid #007D69;
    width: 30%;
    height: 10%;
    color: white;
    font-size: 15px;
    padding-inline: 10px;
}

.complete-btn:hover{
    background-color:#0d5b4e ;
    border-color: #0d5b4e;
}