h1 {
    color:white;
    text-align: left;
    font-size: 45px;
    font-weight: bold;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



html, body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url('Background.png');
    /*-- filler image-->*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

input{
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #0c0505;
    width: 250px;
    background-color: white;
}

button{
    background-color: #003C3C;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #003C3C;
    width: 250px;
    color: white;
    font-size: 25px;
}

.settings-submit{
    background-color: #003C3C;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #003C3C;
    width: 260px;
    color: white;
    font-size: 25px;
}

.delete-button{
    background-color: rgb(231, 59, 59);
    border-radius: 15px;
    padding: 10px;
    border: 2px solid rgb(231, 59, 59);
    width: 250px;
    color: white;
    font-size: 25px;
}


label{
    text-align: left;
}

select{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #003C3C;
    width: 250px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #007D69;
    /* position: fixed; */
    height: auto;
    /* overflow: auto; */
    color: white;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}


/* @media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
} */

/* @media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
} */

/*TOP BAR*/

#top-bar{
	background-color: #003C3C;
    height: 70px;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo {
    height: 100%;
}

.log-out {
    background-color: #007D69;
    width: 100px;
    height: 80%;
    color: white;
    font-size: 15px;
    padding-inline: 10px;
}

/* p{
    text-align: right;
} */

/*TASK/MAIN PAGE*/

#main-task-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

}

#task-information-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-block: 20px;
    margin-inline: 20px;
    flex: 1;
}

#task-information-container h1{
    font-size: 20px;
    color: white;
}

#task-information-container h2{
    font-size: 15px;
    color: white;
}

#task-information-container .task-box{
    padding: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    background-color: #007D69;
    width: 30%;

    border-radius: 10px;
    height: auto;
    overflow: scroll;
}

#task-information-container .settings-box{
    padding: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    background-color: #007D69;
    width: 60%;

    border-radius: 10px;
    height: auto;
}

#task-information-container .profile-box{
    padding: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    background-color: #007D69;
    width: 85%;

    border-radius: 10px;
    height: auto;
}

.container {
    display: flex;
    gap: 50px;
}

.circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    text-align: center;
    background-color: #007D69;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 800px;
    margin-top: 200px;
}