h1 {
    color:white;
    text-align: left;
    font-size: 45px;
    font-weight: bold;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



html, body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url('https://www.bing.com/th/id/OIP.Gb45YfRt5DytOK0w6wTndQHaGr?w=234&h=211&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2');
    /*-- filler image-->*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

input{
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #0c0505;
    width: 250px;
    background-color: white;
}

button{
    background-color: #003C3C;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #003C3C;
    width: 250px;
    color: white;
    font-size: 25px;
}

label{
    text-align: left;
}

select{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #003C3C;
    width: 250px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #007D69;
    /* position: fixed; */
    height: auto;
    /* overflow: auto; */
    color: white;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}


/* @media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
} */

/* @media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
} */

/*TOP BAR*/

#top-bar{
	background-color: #003C3C;
    height: 70px;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo {
    height: 100%;
}

.log-out {
    background-color: #007D69;
    width: 7em;
    height: 3em;
    color: white;
    font-size: 15px;
    margin-inline: 20px;
}

/* p{
    text-align: right;
} */

/*TASK/MAIN PAGE*/

#main-task-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#task-information-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-block: 20px;
    margin-inline: 20px;
}

#task-information-container h1{
    font-size: 20px;
    color: darkgreen;
}

#task-information-container .task-box{
    padding: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    background-color: #04AA6D;
    width: 30%;

    border-radius: 10px;
    height: auto;
    overflow: scroll;
}