<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title> Carbon Challenge! </title>
    <link rel="stylesheet" href="styling.css">
</head>

<body>
    <div id="top-bar">
      <img src="Footprint.png" id="logo" alt="footprint" />
      <h1>FOOTPRINT</h1>
      <button onclick="location.href='login.html'" class="log-out">Log Out</button>
    </div>

    <!-- The sidebar -->
    <div id="main-task-container">
      <div class="sidebar">
        <a href="tasks">Tasks</a>
        <a href="profile">Profile</a>
        <a href="leaderboard">Leaderboard</a>
        <a href="groups">Groups</a>
        <a href="analytics">Analytics</a>
        <a class="active" sec:authorize="hasRole('ROLE_MODERATOR')" href="evidence">Evidence</a>
        <a sec:authorize="hasRole('ROLE_MODERATOR')" href="challenges">Challenges</a>
        <a href="settings">Settings</a>
      </div>

      <div id="task-information-container">
        <div class="challenges-box">
          <h1>Tasks to approve:</h1>
          <table>
            <tr>
            <th>User</th>
            <th>Date</th>
            <th>Evidence</th>
            <th>Warnings</th>
            <th colspan="2">Approval</th>
            </tr>
            <tr>
            <td>example name</td>
            <td>example date</td>
            <td>[see evidence]</td>
            <td>example warning</td>
            <td><button class="approve-button">Approve</button></td>
            <td><button class="deny-button">Deny</button></td>
            </tr>
            <tr>
            <td>example name</td>
            <td>example date</td>
            <td>[see evidence]</td>
            <td>example warning</td>
            <td><button class="approve-button">Approve</button></td>
            <td><button class="deny-button">Deny</button></td>
            </tr>
            <tr>
              <td>example name</td>
              <td>example date</td>
              <td>[see evidence]</td>
              <td>example warning</td>
              <td><button class="approve-button">Approve</button></td>
              <td><button class="deny-button">Deny</button></td>
            </tr>
          </div>
        </div>
      </div>
    </div>
</body>
</html>