<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title> Carbon Challenge! </title>
    <link rel="stylesheet" href="styling.css">
</head>

<body>
    <div id="top-bar">
      <img src="Footprint.png" id="logo" alt="footprint" />
      <h1>FOOTPRINT</h1>
      <button onclick="location.href='login.html'" class="log-out">Log Out</button>
    </div>

    <!-- The sidebar -->
    <div id="main-task-container">
      <div class="sidebar">
        <a href="/tasks">Tasks</a>
        <a href="profile.html">Profile</a>
        <a class="active" href="/leaderboard">Leaderboard</a>
        <a href="groups.html">Groups</a>
        <a href="analytics.html">Analytics</a>
        <a href="/evidence">Evidence</a>
        <a href="/challenges">Challenges</a>
        <a href="settings.html">Settings</a>
      </div>

      <div id="task-information-container">
        <div class="challenges-box">
          <h1>Leaderboard</h1>
          <table>
            <tr>
            <th>User</th>
            <th>Points</th>
            </tr>
            <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.points}"></td>
            </tr>
          </table>
        </div>
    </div>
    </div>
</body>
</html>