<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title> Carbon Challenge! </title>
    <link rel="stylesheet" href="styling.css">
</head>

<body>
    <div id="top-bar">
      <img src="Footprint.png" id="logo" alt="footprint" />
      <h1>FOOTPRINT</h1>
      <form th:action = "@{/logout}" th:object = "${user}"method="post">
        <input type = "hidden" th:name = "${_csrf.parameterName}" th:value = "${_csrf.token}" />
        <button class="log-out" type="submit">Log Out</button>
      </form>
    </div>

    <!-- The sidebar -->
    <div id="main-task-container">
      <div class="sidebar">
        <a href="tasks">Tasks</a>
        <a class="active" href="profile">Profile</a>
        <a href="leaderboard">Leaderboard</a>
        <a href="groups">Groups</a>
        <a href="analytics">Analytics</a>
        <a href="evidence">Evidence</a>
        <a sec:authorize="hasRole('ROLE_MODERATOR')" href="challenges">Challenges</a>
        <a href="settings">Settings</a>
      </div>
      <div id="task-information-container">
        <div class="profile-box">
          <h1>Tasks Completed:</h1>
          <table>
            <tr>
            <th>Task name</th>
            <th>Date</th>
            <th>Points</th>
            <th>Approval</th>
            </tr>
            <tr>
            <td>example name</td>
            <td>example date</td>
            <td>example points</td>
            <td>example approval</td>
            </tr>
            <tr>
            <td>example name</td>
            <td>example date</td>
            <td>example points</td>
            <td>example approval</td>
            </tr>
            <tr>
            <td>example name</td>
            <td>example date</td>
            <td>example points</td>
            <td>example approval</td>
            </tr>
          </table>
      </div>
    </div>
    </div>
</body>
</html>