<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8" />
    <title>Carbon Challenge!</title>
    <link rel="stylesheet" href="styling.css" />
  </head>

  <body>
    <div id="top-bar">
      <img src="Footprint.png" id="logo" alt="footprint" />
      <h1>FOOTPRINT</h1>
      <button onclick="location.href='login.html'" class="log-out">Log Out</button>
    </div>
    <div sec:authorize="isAuthenticated()">
      <p>Welcome, <span th:text="${#authentication.name}">User</span>!</p>
    </div>
    <!-- The sidebar -->
    <div id="main-task-container">
      <div class="sidebar">
        <a class="active" href="tasks">Tasks</a>
        <a href="profile">Profile</a>
        <a href="leaderboard">Leaderboard</a>
        <a href="groups">Groups</a>
        <a href="analytics">Analytics</a>
        <a sec:authorize="hasRole('ROLE_MODERATOR')" href="evidence">Evidence</a>
        <a sec:authorize="hasRole('ROLE_MODERATOR')" href="challenges">Challenges</a>
        <a href="settings">Settings</a>
      </div>

      <div id="task-information-container">
        <div class="task-box" id="daily-tasks">
          <h1>Daily Tasks:</h1>
          <table>
            <tr th:each="challenge : ${dailyChallenges}">
              <td th:text="${challenge.title}"></td>
              <td th:text="${challenge.points}"></td>
            </tr>
            <tr class="hidden-row">
              <td colspan="2">EXTRA INFORMATION!!!!!</td>
            </tr>
          </table>
        </div>
        <div class="task-box" id="weekly-tasks">
          <h1>Weekly Tasks:</h1>
          <table>
            <tr th:each="challenge : ${weeklyChallenges}">
              <td th:text="${challenge.title}"></td>
              <td th:text="${challenge.points}"></td>
            </tr>
            <tr class="hidden-row">
              <td colspan="2">EXTRA INFORMATION!!!!!</td>
            </tr>
          </table>
        </div>
        <div class="task-box" id="monthly-tasks">
          <h1>Monthly Challenges:</h1>
          <div class="row">
            <div class="column" onclick="openTab('b1');">New task 1</div>
          </div>

          <div id="b1" class="containerTab" style="display:none">
            <span onclick="this.parentElement.style.display='none'"
            class="closebtn">x</span>
            <h3>New task 1</h3>
            <p>Task details</p>
            <button class="complete-btn" type="submit">Complete</button>
          </div>

          <div class="row">
            <div class="column" onclick="openTab('b2');">New task 2</div>
          </div>

          <div id="b2" class="containerTab" style="display:none">
            <span onclick="this.parentElement.style.display='none'"
            class="closebtn">x</span>
            <h3>New task 2</h3>
            <p>Task details</p>
          </div>


          <div class="row">
            <div class="column" onclick="openTab('b3');">New task 3</div>
          </div>

          <div id="b3" class="containerTab" style="display:none">
            <span onclick="this.parentElement.style.display='none'"
            class="closebtn">x</span>
            <h3>New task 3</h3>
            <p>Task details</p>
          </div>

          <script>
            function openTab(tab){
              var i, x;
              x = document.getElementsByClassName("containerTab");
              for (i=0; i<x.length;i++){
                x[i].style.display="none";
              }
              document.getElementById(tab).style.display="block";
            }
          </script>
        </div>
      </div>
    </div>
  </body>
</html>
