<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8" />
    <title>Carbon Challenge!</title>
    <link rel="stylesheet" href="styling.css" />
  </head>

  <body>
    <div id="top-bar">
      <img src="Footprint.png" id="logo" alt="footprint" />
      <h1>FOOTPRINT</h1>
      <button onclick="location.href='login.html'" class="log-out">Log Out</button>
    </div>
    <div sec:authorize="isAuthenticated()">
      <p>Welcome, <span th:text="${#authentication.name}">User</span>!</p>
    </div>
    <div id="main-task-container">
      <div class="sidebar">
        <a class="active" href="tasks">Tasks</a>
        <a href="profile">Profile</a>
        <a href="leaderboard">Leaderboard</a>
        <a href="groups">Groups</a>
        <a href="analytics">Analytics</a>
        <a sec:authorize="hasRole('ROLE_MODERATOR')" href="evidence">Evidence</a>
        <a sec:authorize="hasRole('ROLE_MODERATOR')" href="challenges">Challenges</a>
        <a href="settings">Settings</a>
      </div>

      <div id="task-information-container">
        <div class="task-box" id="daily-tasks">
          <h1>Daily Tasks:</h1>
          <div th:each="challenge, iterStat : ${dailyChallenges}">
            <div class="row">
              <div class="column" th:onclick="'openTab(\'d' + ${iterStat.index} + '\');'" th:text="${challenge.title}"></div>
            </div>

            <div th:id="'d' + ${iterStat.index}" class="containerTab" style="display:none">
              <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
              <h3 th:text="${challenge.title}"></h3>
              <p th:text="${challenge.description}"></p>
              <p>Points: <span th:text="${challenge.points}"></span></p>
              <button class="complete-btn" type="submit">Complete</button>
            </div>
          </div>
        </div>
        <div class="task-box" id="weekly-tasks">
          <h1>Weekly Tasks:</h1>
          <div th:each="challenge, iterStat : ${weeklyChallenges}">
            <div class="row">
              <div class="column" th:onclick="'openTab(\'w' + ${iterStat.index} + '\');'" th:text="${challenge.title}"></div>
            </div>

            <div th:id="'w' + ${iterStat.index}" class="containerTab" style="display:none">
              <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
              <h3 th:text="${challenge.title}"></h3>
              <p th:text="${challenge.description}"></p>
              <p>Points: <span th:text="${challenge.points}"></span></p>
              <button class="complete-btn" type="submit">Complete</button>
            </div>
          </div>
        </div>
        <div class="task-box" id="monthly-tasks">
          <h1>Monthly Challenges:</h1>
          <div th:each="challenge, iterStat : ${monthlyChallenges}">
            <div class="row">
              <div class="column" th:onclick="'openTab(\'m' + ${iterStat.index} + '\');'" th:text="${challenge.title}"></div>
            </div>

            <div th:id="'m' + ${iterStat.index}" class="containerTab" style="display:none">
              <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
              <h3 th:text="${challenge.title}"></h3>
              <p th:text="${challenge.description}"></p>
              <p>Points: <span th:text="${challenge.points}"></span></p>
              <button class="complete-btn" type="submit">Complete</button>
            </div>
          </div>

          <script>
            function openTab(tab){
              var i, x;
              x = document.getElementsByClassName("containerTab");
              for (i=0; i<x.length;i++){
                x[i].style.display="none";
              }
              document.getElementById(tab).style.display="block";
            }
          </script>
        </div>
      </div>
    </div>
  </body>
</html>
