<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title> Carbon Challenge! </title>
    <link rel="stylesheet" href="styling.css">
</head>

<body>
    <div id="top-bar">
      <img src="Footprint.png" id="logo" alt="footprint" />
      <h1>FOOTPRINT</h1>
      <form th:action = "@{/logout}" th:object = "${user}"method="post">
        <input type = "hidden" th:name = "${_csrf.parameterName}" th:value = "${_csrf.token}" />
        <button class="log-out" type="submit">Log Out</button>
      </form>
    </div>

    <!-- The sidebar -->
    <div id="main-task-container">
      <div class="sidebar">
        <a href="tasks">Tasks</a>
        <a href="profile">Profile</a>
        <a href="leaderboard">Leaderboard</a>
        <a href="groups">Groups</a>
        <a href="analytics">Analytics</a>
        <a href="evidence">Evidence</a>
        <a href="settings">Settings</a>
        <a class="active" href="travel">Travel</a>
      </div>

      <div id="task-information-container">
        <div class="challenges-box">
          <h1>Enter Travel Info</h1>
          <form th:action="@{/api/travel/submit}" method="post" id="evidence-form">
            <label for="travelType">Task title</label><br>
            <select name="travelType" placeholder="Please select a travel method">
              <option value="walk">Walk</option>
              <option value="bike">Bike</option>
            </select><br><br>
            <label for="distance">Distance (km)</label><br>
            <input type="number" id="distance" name="distance" placeholder="5"><br><br>
            <input type ="hidden"
              th:name="${_csrf.parameterName}"
              th:value="${_csrf.token}"/>
            <button type="submit">Enter Distance</button>
          </form>
        </div>
      </div>
    </div>
</body>
</html>